<!DOCTYPE html>
<html>
<head>
  <title>Error</title>
</head>
<body>
  <h1>Error</h1>
  <p>This is the error page.</p>
  <p><%= message %></p>
  <% if (error) { %>
    <p>Status: <%= error.status %></p>
    <p>Stack: <%= error.stack %></p>
    <p>Message: <%= error.message %></p>
    <p>Name: <%= error.name %></p>
  <% } else { %>
    <p>No additional error information available.</p>
  <% } %>
</body>
</html>