<section class="slick-slideshow">
    <div class="slick-custom">
        <img src="images/carrosel/tatuage1.webp" class="img-fluid" alt="">

        <div class="slick-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-10">
                        <h1 class="slick-title">TattooHub</h1>

                        <p class="lead text-white mt-lg-3 mb-lg-5">Um site que facilita sua comunicação com um
                            profissional tatuador.</p>

                        <a href="/login" class="btn custom-btn">Faça login aqui</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slick-custom">
        <img src="images/carrosel/tatuage2.png" class="img-fluid" alt="">

        <div class="slick-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-10">
                        <h1 class="slick-title">Cadastre-se!</h1>

                        <p class="lead text-white mt-lg-3 mb-lg-5">Você pode se cadastrar para encontrar mais facilmente
                            clientes!</p>

                        <a href="/cadastro" class="btn custom-btn">Cadastro aqui!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slick-custom">
        <img src="images/carrosel/tatuage3.jpg" class="img-fluid" alt="">

        <div class="slick-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-10">
                        <h1 class="slick-title">Ache um tatuador</h1>

                        <p class="lead text-white mt-lg-3 mb-lg-5">O site consta com uma grande variedade de parceiros
                            com especialidades variadas</p>

                        <a href="/tatuadores" class="btn custom-btn">Veja os tatuadores</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="featured-product section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h2 class="mb-5">Tatuadores recentes</h2>
            </div>
            <% if (tatuadores.length===0) { %>
                <p class="naotemtatuador">Não há tatuadores disponíveis no momento.</p>
                <p class="emoji">😥</p>
                <% } %>
            <% for (let i = 0; i < Math.min(tatuadores.length, 4); i++) { %>
                <div class="col-lg-3 col-md-6 col-sm-12 mb-3 d-flex justify-content-center">
                    <div class="card bordadaora" style="width: 18rem;">
                        <div class="conteiner">
                            <form method="POST" action="/tatuador/apagar/<%= tatuadores[i].id %>">
                                <img src="/imagens/<%= tatuadores[i].imagem %>" class="card-img-top shadowfoda" alt="<%= tatuadores[i].nome_artistico %>">
                            </form>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title textolinha">
                                <%= tatuadores[i].nome_artistico %>
                            </h5>
                            <p class="card-text">
                                <%= tatuadores[i].estudio %>
                            </p>
                        </div>
                        <div class="quadrado">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item estilotatuad">
                                    <p>Estilo de arte:</p>
                                    <%= tatuadores[i].estilo %>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            <% } %>
            
            <div class="col-12 text-center mt-4">
                <a href="/tatuador" class="">Veja todos Tatuadores</a>
            </div>
        </div>
    </div>
</section>
