<section>
  <div class="padding chat-card centralized content">
    <div class="bordadaora tamanhodasinfo">
      <div class="left-aligned">
        <img class="fotodolado" src="/imagens/<%= imagem %>">
        <h1><%= tatuador.nome_artistico %></h1>
        <h6><%= tatuador.nome %></h6>
      </div>
      <div>
        <strong>estilo de arte:</strong>
        <p><%= tatuador.estilo %></p>
      </div>
      <h4><%= tatuador.descricao %></h4>
    </div>
  </div>

  <!-- Seção de Comentários -->
  <div class="comentarios">
    <h3>Comentários</h3>
    <div id="comentarios-antigos" class="comentarios-antigos">
      <!-- Comentários antigos serão carregados aqui -->
    </div>
    <form id="comentarioForm">
      <textarea id="comentario" name="comentario" rows="4" cols="50" placeholder="Adicione seu comentário aqui..."></textarea>
      <input type="hidden" id="idUser" value="<%= usuario.id %>">
      <button type="submit">Enviar</button>
    </form>
  </div>
</section>



 