<!-- views/perfil.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil do Tatuador</title>
  <link rel="stylesheet" href="/styles.css">

</head>

<body>
  <section>
    <div class="padding chat-card centralized content">
      <div class="bordadaora tamanhodasinfo">
        <!-- Se칞칚o de informa칞칫es do usu치rio -->
        <div class="perfil-info">
          <img class="fotodolado" src="/imagens/<%= usuario.imagem %>">
          <div class="info-text">
            <h1 class="nome-artistico">
              <%= usuario.nome_artistico %>
            </h1> <!-- Nome art칤stico do tatuador -->
            <h6 class="nome-tatuador">
              <%= usuario.nome %>
            </h6> <!-- Nome do tatuador -->
            <p class="estilo-tatuador"><strong>Estilo de arte:</strong>
              <%= usuario.estilo %>
            </p>
          </div>
        </div>

        <!-- Se칞칚o de descri칞칚o -->
        <div class="description-section">
          <h5>Descri칞칚o</h5>
          <div id="descricao-texto" class="descricao-texto">
            <% if (!usuario.descricao) { %>
              <% if (usuario.tipo==='cliente' ) { %>
                <p>Voc칡 칠 um cliente! 游땔</p>
                <% } else { %>
                  <p>Esse usu치rio ainda n칚o tem uma descri칞칚o 游땬</p>
                  <% } %>
                    <% } else { %>
                      <%= usuario.descricao %>
                        <% } %>
          </div>
          <% if (usuarioLogado.id===usuario.id) { %>
            <button id="editar-descricao-btn" class="alterar-descricao-btn">Alterar Descri칞칚o</button>
            <form id="descricao-form" style="display: none;">
              <textarea id="descricao-textarea" name="descricao" placeholder="Atualize sua descri칞칚o"></textarea>
              <input type="hidden" name="usuarioId" value="<%= usuario.id %>">
              <button type="submit" class="alterar-descricao-btn">Alterar Descri칞칚o</button>
            </form>
            <% } %>
        </div>

        <div id="upload-imagem-section">
          <h5>Imagens do Tatuador</h5>

          <!-- Exibir todas as imagens associadas ao usu치rio -->
          <div id="imagens-container">
            <div class="imagens-tatuador">
              <% if (imagens && imagens.length> 0) { %>
                <% imagens.forEach(function(imagem) { %>
                  <img src="/imagens/<%= imagem.imagen %>" alt="" class="imagem-perfil">
                  <% }) %>
                    <% } else { %>
                      <p>Esse usu치rio ainda n칚o adicionou imagens.</p>
                      <% } %>
            </div>
          </div>

          <!-- Exibe o formul치rio apenas se o usu치rio logado for o dono da p치gina -->
          <% if (usuarioLogado.id===usuario.id) { %>
            <form action="/foto/upload" method="post" enctype="multipart/form-data" id="upload-imagem-form">
              <input type="file" name="imagem" />
              <button type="submit">Enviar</button>
            </form>
            <% } %>
        </div>

        <!-- Se칞칚o de coment치rios -->
        <div id="comments-section" class="comments-section">
          <h5>Coment치rios</h5>
          <ul id="comentarios-list" class="comentarios-list">
            <!-- Verifica se h치 coment치rios -->
            <% if (comentarios.length===0) { %>
              <li class="comentario-item no-comments-message">
                <p>Esse usu치rio ainda n칚o tem coment치rios 游땬</p>
              </li>
              <% } else { %>
                <!-- Itera sobre a lista de coment치rios e exibe cada um -->
                <% comentarios.forEach(function(comentario) { %>
                  <li class="comentario-item">
                    <strong>
                      <%= comentario.usuarioNome %>:
                    </strong>
                    <p>
                      <%= comentario.texto %>
                    </p>
                  </li>
                  <% }); %>
                    <% } %>
          </ul>
          <% if (usuarioLogado.id !==usuario.id) { %>
            <!-- Formul치rio para adicionar um novo coment치rio -->
            <form id="comentario-form" class="comentario-form">
              <textarea name="texto" placeholder="Adicione um coment치rio"></textarea>
              <input type="hidden" name="usuarioNome" value="<%= usuarioLogado.nome %>"> <!-- Nome do usu치rio logado -->
              <input type="hidden" name="usuarioId" value="<%= usuario.id %>"> <!-- ID do tatuador -->
              <button type="submit" class="alterar-descricao-btn">Enviar</button>
            </form>
            <% } %>
        </div>
      </div>
    </div>
  </section>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const editarDescricaoBtn = document.getElementById('editar-descricao-btn');
      const descricaoForm = document.getElementById('descricao-form');
      const commentsSection = document.getElementById('comments-section');
      
      if (editarDescricaoBtn) {
        editarDescricaoBtn.addEventListener('click', function () {
          descricaoForm.style.display = 'block';
          editarDescricaoBtn.style.display = 'none';
          commentsSection.style.display = 'none'; // Esconde a se칞칚o de coment치rios
        });
      }
      if (descricaoForm) {
        descricaoForm.addEventListener('submit', function (event) {
          event.preventDefault();
          const descricaoTextarea = document.getElementById('descricao-textarea');
          const descricao = descricaoTextarea.value.trim();
          const usuarioId = descricaoForm.querySelector('input[name="usuarioId"]').value;
          if (descricao === '') {
            alert('A descri칞칚o n칚o pode estar vazia.');
            return;
          }
        fetch(`/perfil/${usuarioId}/descricao`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ descricao }),
        })
          .then(response => response.json())
          .then(data => {
            if (data.error) {
              alert(data.error);
            } else {
              document.getElementById('descricao-texto').innerText = data.descricao;
              descricaoForm.style.display = 'none';
              editarDescricaoBtn.style.display = 'block';
              commentsSection.style.display = 'block'; // Exibe a se칞칚o de coment치rios novamente
            }
          })
          .catch(error => console.error('Erro ao atualizar a descri칞칚o:', error));
      });
    }
    // Adicionar coment치rio via AJAX
    const comentarioForm = document.getElementById('comentario-form');
  if (comentarioForm) {
    comentarioForm.addEventListener('submit', function (event) {
      event.preventDefault();
      const formData = new FormData(comentarioForm);
      const comentarioData = {
        usuarioNome: formData.get('usuarioNome'),
        texto: formData.get('texto'),
        usuarioId: formData.get('usuarioId'),
      };
      fetch('/comentarios/adicionar', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(comentarioData),
      })
        .then(response => response.json())
        .then(data => {
          if (data.error) {
            alert(data.error);
          } else {
            const comentariosList = document.getElementById('comentarios-list');
            const noCommentsMessage = comentariosList.querySelector('.no-comments-message');
            if (noCommentsMessage) {
              noCommentsMessage.remove();
            }
            const comentarioItem = document.createElement('li');
            comentarioItem.classList.add('comentario-item');
            comentarioItem.innerHTML = `<strong>${data.usuarioNome}:</strong><p>${data.texto}</p>`;
            comentariosList.appendChild(comentarioItem);
            comentarioForm.reset();
            commentsSection.style.display = 'block'; // Exibe a se칞칚o de coment치rios novamente
          }
        })
        .catch(error => console.error('Erro ao adicionar o coment치rio:', error));
    });
  }
  // Upload de imagem via AJAX
  const uploadImagemForm = document.getElementById('upload-imagem-form');
  if (uploadImagemForm) {
    uploadImagemForm.addEventListener('submit', function (event) {
      event.preventDefault();
          const formData = new FormData(uploadImagemForm); // Cria o FormData com o arquivo de imagem
          fetch('/foto/upload', {
            method: 'POST',
            body: formData
          })
            .then(response => response.json())
            .then(data => {
              if (data.error) {
                alert(data.error);
              } else {
                alert('Imagem enviada com sucesso!');
                // Atualiza a imagem na p치gina sem recarregar
                const imagemAtual = document.querySelector('.fotodolado');
                imagemAtual.src = `/imagens/${data.imagem}`;
              }
            })
            .catch(error => console.error('Erro no upload da imagem:', error));
        });
      }
      });
    </script>
</body>

</html>